@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

hr {
    color: #222222;
    border-style: dashed;
    border-top: 900px;
    margin: 10px;
}

/*Navbar*/
.navbar{
    height: 8vh;
    background-color:#222222;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.navbar a{
    color: #F5F5F5;
    font-size: 20px;
    text-decoration: none;
    font-family: "Ubuntu";
}

.navbar a:hover{
    opacity: 50%;
    text-decoration: underline;
}

.navbar-list{
    list-style: none;
    display: flex;
}

.navbar-list li{
    margin-left: 20px;
    padding: 20px;
}

/*Body*/
body{
    background-color: #121212;
    height: 92vh;
}

/*Main*/
.main{
    margin: 20px;
    padding: 20px;
}

.main-title{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: #F5F5F5; 
}

.main-title span{
    color: rgb(200, 216, 57);
}

.main-paragraph{
    font-size: 17px;
    padding: 20px;
    color: #F5F5F5; 
}

.main-image{
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.main-image blockquote{
    color: #F5F5F5;
    font-style: italic;
}

/*Members*/
.members{
    padding: 20px;
    margin: 20px;
}

.member-title{
    text-align: center;
    font-size: 20px;
    padding: 20px 0px;
    color: brown;
}

.member-paragraph{
    color: #F5F5F5;
    font-size: 17px;
    text-align: justify;
}